OneCard/App_WebReferences/RelaxWebService/SMKWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.xframe.com" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="SMKWebServiceService" targetNamespace="http://www.xframe.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.xframe.com">
      <xsd:element name="helloWorld" type="tns:helloWorld" />
      <xsd:complexType name="helloWorld">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="helloWorldResponse" type="tns:helloWorldResponse" />
      <xsd:complexType name="helloWorldResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notifyYChg" type="tns:notifyYChg" />
      <xsd:complexType name="notifyYChg">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="soapMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="notifyYChgResponse" type="tns:notifyYChgResponse" />
      <xsd:complexType name="notifyYChgResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="invokeWs" type="tns:invokeWs" />
      <xsd:complexType name="invokeWs">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="soapMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="invokeWsResponse" type="tns:invokeWsResponse" />
      <xsd:complexType name="invokeWsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyYChg">
    <wsdl:part name="parameters" element="tns:notifyYChg" />
  </wsdl:message>
  <wsdl:message name="helloWorldResponse">
    <wsdl:part name="parameters" element="tns:helloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="invokeWsResponse">
    <wsdl:part name="parameters" element="tns:invokeWsResponse" />
  </wsdl:message>
  <wsdl:message name="invokeWs">
    <wsdl:part name="parameters" element="tns:invokeWs" />
  </wsdl:message>
  <wsdl:message name="helloWorld">
    <wsdl:part name="parameters" element="tns:helloWorld" />
  </wsdl:message>
  <wsdl:message name="notifyYChgResponse">
    <wsdl:part name="parameters" element="tns:notifyYChgResponse" />
  </wsdl:message>
  <wsdl:portType name="smkWebService">
    <wsdl:operation name="helloWorld">
      <wsdl:input name="helloWorld" message="tns:helloWorld" />
      <wsdl:output name="helloWorldResponse" message="tns:helloWorldResponse" />
    </wsdl:operation>
    <wsdl:operation name="notifyYChg">
      <wsdl:input name="notifyYChg" message="tns:notifyYChg" />
      <wsdl:output name="notifyYChgResponse" message="tns:notifyYChgResponse" />
    </wsdl:operation>
    <wsdl:operation name="invokeWs">
      <wsdl:input name="invokeWs" message="tns:invokeWs" />
      <wsdl:output name="invokeWsResponse" message="tns:invokeWsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMKWebServiceServiceSoapBinding" type="tns:smkWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="helloWorld">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="helloWorld">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="helloWorldResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invokeWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="invokeWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="invokeWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyYChg">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="notifyYChg">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="notifyYChgResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMKWebServiceService">
    <wsdl:port name="smkWebServicePort" binding="tns:SMKWebServiceServiceSoapBinding">
      <soap:address location="http://szsmk_dev/services/smkWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>